.link {

	text-decoration: none;
	color: black;
}

h1{

	vertical-align: middle;
}

header{
	text-align: center;
    background-color: #212121;
    position: absolute;
    color: #FFFFFF;
    font-family: Times New Roman;
    top: 0;
    width: 100%;
    padding-top: 0.05%;
    padding-bottom: 0.05%;
    margin-left: -0.6%;
    margin-right: -0.6%;
}

#header {
	
	text-decoration: none;
	color: #EEEEEE;
}

body{
    background-color: #EEEEEE;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

#error{

	visibility: hidden;
	color: red;
	font-size: 15;
}

button{

	border: 2px solid black;
	border-radius: 5%;
	background-color: #E0E0E0;
}

.textop{

	margin-top: 2%;
	text-align: center;
	font-size: 25px;
	padding: 10px;
  	border: 2px solid black;
  	margin-right: 40%;
  	margin-left: 40%;
  	border-radius: 5%;
  	background-color: #E0E0E0;
}


.textop:hover{
	background-color: #BDBDBD;


}

#a{

	margin-top: 10%;
}
footer{
	background-color: #212121;
    font-style: italic;
    align-items: center;
    margin-left: -0.6%;
    margin-right: -0.6%;
    margin-top: 1%;
    margin-bottom: -1%;
    width: 100%;
    position: relative;
  	
}

.seccion{
	/*margin-top: 5%;*/
	margin-right: 35%;
	margin-left: 35%;

	margin-top: 10%;

}

#addMenu{

	margin-top: 35px;
}

#imagen{
    height: 75px;
    width: 75px;
    padding: 5px;
    margin-right: 45%;
	margin-left: 46%;
}

.pagPeque{


	position: absolute;
	bottom: 0;
}

#salida{


	margin-right: 35%;
	margin-left: 35%;

}