.link {

	text-decoration: none;
	color: black;
}

header{
	text-align: center;
    background-color: #212121;
    position: relative;
    color: #FFFFFF;
    font-family: Times New Roman;
    top: -22px;
    height: 5%;
    padding-top: 0.05%;
    padding-bottom: 0.05%;
    margin-left: -0.6%;
    margin-right: -0.6%;
}

#header {
	
	text-decoration: none;
	color: #EEEEEE;
}

body{
    background-color: #EEEEEE;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

#error{

	visibility: hidden;
	color: red;
	font-size: 15;
}


.textop{

	
	text-align: center;
	font-size: 25px;
	padding: 10px;
  	border: 2px solid black;
  	margin-right: 40%;
  	margin-left: 40%;
  	border-radius: 5%;
  	background-color: #E0E0E0;
}


.textop:hover{
	color: #BDBDBD;


}

#a{

	margin-top: 10%;
}
footer{
	background-color: #212121;
    font-style: italic;
}

.seccion{
	/*margin-top: 5%;*/
	margin-right: 35%;
	margin-left: 35%

}

#addMenu{

	margin-top: 35px;
}